.display {
    background-color: slategray;
    color: azure;
    height: 2em;
    width: 40%;
    align-content: center;
    justify-content: center;
    padding: 1em;
}
.buttons {
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    display: flex;

}

.numbers {
    width: 200;
    height: auto;
    display: flex;
}

.operators {
    width: 200;
    height: auto;
    display: flex;
}

.return {
    width: 200;
    height: 350;
    display: flex;
}